.headingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    height: 500px;
    overflow-y: hidden;
}

.headingImg {
    width: 100%;
    position: absolute;
    align-self: center;
    justify-self: center;
    z-index: -1;
}

.aboutContainer {
    padding: 7rem 11%;
    display: flex;
    justify-content: center;
    position: relative;
}

.aboutHeading {
    position: relative;
    left: 1px;
    font-size: 5rem;
    color: #191970;
    opacity: 0.15;
    top: 20px;
    left: -20px;
    white-space: nowrap;
}

.aboutText {
    font-size: 20px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.articleContainer {
    padding: 0 11% 7rem 11%;
}

.articleCard {
    background-color: #F0F0F0;
    padding: 5% 9%;
    display: flex;
    gap: 9%;
    align-items: center;
}

.articleImg {
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    background-color: white;
    float: left !important;
    margin: 0 1rem 1rem 0
}

.articleTitle {
    color: #e57106;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
}

.articlePub {
    font-size: 14px;
    line-height: 16px;
    font-style: italic;
    padding-bottom: 1rem;
}

.articleText {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 1rem;
}

.articleLink {
    color:#e57106;
}

.articleLink:hover {
    text-decoration: underline;
}

.communityContainer {
    background-color:#191970;
    color: white;
    padding: 78px 11%;
    display: flex;
    gap: 128px;
}

.communityHeading {
    color:#e57106;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    padding-bottom: 1rem;
}

.comHeadSm {
    display: none;
}

.communityText {
    font-size: 20px;
    line-height: 30px;
}

.communityPara {
    padding-bottom: 1rem;
}

.communityImg {
    width: 450px;
    height: auto;
    float: right;
    margin-left: 1rem;
}

.italic {
    font-style: italic;
}

@media (max-width: 810px) {

    .headingContainer {
        overflow-x: hidden;
    }

    .headingImg {
        width: 300%;
    }

    .aboutHeading {
        font-size: 3.5rem;
        left: unset;
        white-space: nowrap;
    }

    .aboutContainer {
        padding: 4rem 3rem;
        text-align: center;
    }

    .articleContainer {
        padding: 0.5rem;
    }

    .articleCard {
        flex-direction: column;
        padding: 3%;
        gap: 3rem;
    }

    .communityContainer {
        flex-direction: column-reverse;
        gap: 2rem;
        padding: 2rem 3rem;
    }

    .communityHeading {
        text-align: center;
    }

    .comHeadLg {
        display: none;
    }

    .comHeadSm {
        display: unset;
    }
}

@media (max-width: 550px) {
    .articleImg {
        max-width: 100%;
        width: 100%;
        float: unset;

    }

    .communityImg {
        max-width: 100%;
        float: unset;
        margin: 0 auto 2rem auto;
    }

}